.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    border: 2px solid rgba(255, 100, 100, 1.0);
    padding: 20px;
    border-radius: 7px;
    background-color: lightsalmon;
    box-shadow: inset 0px 10px 4px 1px lightpink;
}

button {
    cursor: pointer;
    border: none;
    width:  120px;
    height:  100px;
    border-radius: 7px;
    font-size: 25px;
    text-shadow: 0 2px 3px lightsalmon;
    background: linear-gradient(#e66465, #9198e5);
}

button:hover {
    background: linear-gradient(#9198e5, #e66465);
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}